<div class="name"><h1>Тбилиси</h1></div>

<div class="slider-container">
  <div class="slide">
    <img [src]="slides[currentIndex].img" alt="Wine Tour Image" class="slide-img">
    <div class="slide-text">
      {{ slides[currentIndex].text }}
    </div>
  </div>

  <div class="controls">
    <button (click)="prevSlide()" class="nav-btn">‹</button>
    <span class="index-indicator">{{ currentIndex + 1 }}/{{ slides.length }}</span>
    <button (click)="nextSlide()" class="nav-btn">›</button>
  </div>
</div>


<div class="card tbilisi-tour-card">
  <div class="card-body">
    <h5 class="card-title">🕌 Как проходит экскурсия по Тбилиси</h5>
    <div class="tour-duration-box">
  <h3>🌄 Пеший тур</h3>
  <p>
    Начните день с приключения! Тур начинается в <strong>удобное для вас утреннее время</strong> и длится 
    <strong>примерно 4–5 часов</strong>, проходя по живописным тропам и панорамным маршрутам.
  </p>
  <p class="highlight">Идеально для тех, кто любит природу, лёгкие прогулки и красивые виды!</p>
</div>
    
    <p class="card-text">
      Добро пожаловать в Тбилиси! Я ваш гид, и сегодня мы отправимся в увлекательное путешествие по этому уникальному городу. Тбилиси — это сочетание древней истории, красивой архитектуры и современной жизни.
    </p>

    <ul class="tour-list">
      <li>
        <strong>Крепость Нарикала</strong><br>
        Первое место — символ города, расположенная на холме с захватывающим видом на Тбилиси и реку Куру. История крепости уходит в IV век. Отличное место для фотографий и начала экскурсии.
      </li>

      <li>
        <strong>Прогулка по старому городу</strong><br>
        Узкие улочки, серные бани с целебной водой, уютные художественные галереи и кафе на улице Шарден — все это атмосфера древнего Тбилиси, которую стоит прочувствовать.
      </li>

      <li>
        <strong>Мост Мира и новые горизонты</strong><br>
        Символ соединения старого и нового, выполненный из стекла и металла, красиво освещается вечером. Отличное место для памятных фото.
      </li>

       <li>
        <strong>Канатная дорога</strong><br>
        Подъем к крепости Нарикала с другой стороны с потрясающим видом на город, особенно красивым на закате.
      </li>
      <div class="announcement">
  <p><strong>Важно:</strong> Индивидуальные туры — любой маршрут можно индивидуально разработать за дополнительную цену.</p>
</div>
    </ul>

    <p class="card-text">
      Итак, наше путешествие подошло к концу. Надеюсь, вы почувствовали дух Тбилиси и унесёте с собой частичку этого удивительного города.
    </p>
    <div class="contacts">
      <a href="contacts" class="btn btn-primary">Связаться</a>
      <a href="javascript:history.back()" class="btn btn-secondary back-btn">← Назад</a>
    </div>
  </div>
</div>
